<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<button onclick="history.back()">⬅ Back</button>

<h1>🌍 Pollution</h1>

<div class="note-box">
  <p>Pollution is when harmful substances enter our environment.</p>
</div>

<div class="note-box">
  <p>Plastic harms animals 🐢 and oceans.</p>
</div>

<div class="note-tip">🌟 Reduce, Reuse, Recycle</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>